/*
-------------------------------
--- Made by Aiken Tine Ahac ---
-------------------------------
*/

:root {
  --bg-color: #1a1a1a;
  --fg-color: #f0f0f0;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("/static/fonts/SourceCodePro.ttf");
}

* {
  margin: 0;
  padding: 0;
  font-family: "SourceCodePro";
}

body {
  background-color: var(--bg-color);
  margin: 0px !important;
  padding: 0px !important;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

#head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scroll {
  justify-self: self-end;
  font-size: 1rem;
  color: #f0f0f0;
  margin-top: auto;
  margin-bottom: 20px;
}

.headshot {
  width: 250px;
  height: 250px;
  margin-top: auto;
}

.head-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--fg-color);
  text-align: center;
  padding-bottom: 15px;
}

.head-subtitle {
  font-size: 1.5rem;
  color: #cccbcf;
}

.socials {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--fg-color);
  cursor: pointer;
  text-decoration: none;
}

#about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  padding-left: 10vw;
  padding-right: 10vw;
}

.a-text {
  font-size: 1.5rem;
  color: var(--fg-color);
  width: 80vw;
  padding-bottom: 15px;
}

.a-text > a {
  color: var(--fg-color);
}

.about-container {
  position: relative;
}

.about {
  height: 100px;
  overflow: hidden;
}

#projects {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 40px;
}

.projects-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 350px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  margin-right: 15px;
}

.project > h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--fg-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.project > p {
  font-size: 1rem;
  color: var(--fg-color);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.project > p > a {
  font-size: 1rem;
  color: var(--fg-color);
}

.project > button {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #2e3440;
  margin-top: 20px;
  width: 60%;
  height: 10%;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}

.project > button > p {
  font-size: 1rem;
  color: var(--fg-color);
}

.project > img,
.project > div {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.project > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

#work {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 40px;
}

.work-list {
  padding-left: 2vw;
  padding-right: 2vw;
}

.list-text,
.list-text > a {
  color: var(--fg-color);
  font-size: 1.5rem;
}

#misc {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 40px;
}

#spotify {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 40px;
}

.playlist {
  width: 600px;
}

#people {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-top: 40px;
}

.section-title {
  font-size: 3rem;
  font-weight: bold;
  color: var(--fg-color);
  padding-bottom: 25px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 7vh;
  text-align: center;
  padding: 5px 0 5px 0;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 1.5rem;
  margin-top: 20px;
  border-radius: 15px 15px 0 0;
}

footer > p {
  font-size: 1.5rem;
  color: var(--fg-color);
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

footer > p > a {
  font-size: 1.5rem;
  color: var(--fg-color);
  text-align: center;
}

@media screen and (max-width: 750px) {
  .playlist {
    width: 80vw;
  }
}
